# Dependency folder
node_modules

# Build folder
dist

# Environment file
.env

# Log files
*.log

# PWA files
public/precache.*.*.js
public/sw.js
public/workbox-*.js
public/worker-*.js
public/fallback-*.js
public/precache.*.*.js.map
public/sw.js.map
public/workbox-*.js.map
public/worker-*.js.map
public/fallback-*.js