@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Montserrat&display=swap');

/*
{"Dark Sky Blue":"#74b3ce","Steel Teal":"#508991","Prussian Blue":"#172a3a","Warm Black":"#004346","Mountain Meadow":"#09bc8a"}
*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 16px;
}

body {
	font-family: 'Montserrat', sans-serif;
	overflow-x: hidden;
}

body::-webkit-scrollbar {
	display: none;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

/* Extra large devices (large laptops and desktops, 1200px and down) */
@media only screen and (max-width: 1200px) {
	html {
		font-size: 14px;
	}
}
/* Large devices (laptops/desktops, 992px and down) */
@media only screen and (max-width: 992px) {
	html {
		font-size: 12px;
	}
}
/* Medium devices (landscape tablets, 768px and down) */
@media only screen and (max-width: 768px) {
	html {
		font-size: 8px;
	}
}
/* Small devices (portrait tablets and large phones, 600px and down) */
@media only screen and (max-width: 600px) {
}
/* Small devices (small phones, 400px and down) */
@media only screen and (max-width: 400px) {
}

/*
@media only screen and (max-width: 1200px) {
}
@media only screen and (max-width: 992px) {
}
@media only screen and (max-width: 768px) {
}
@media only screen and (max-width: 600px) {
}
@media only screen and (max-width: 400px) {
} 
*/
